<%= javascript_pack_tag 'start', 'data-turbolinks-track': 'reload', defer: true %>

<div id="debt-main">
  <div class="bg-header">
    <div class="container">
      <div class="row py-md-5">
        <div class="col-md-12 py-md-4">
            <div class="row text-center">
                <h2 >You have been declined for a loan today, this could be due to too much outstanding debt! </h2>
                <h3>Write off 90% of your debt today!</h3>
                <div>
                <ul style="list-style-position: inside;">
                    <li> Take away your money worries</li>
                    <li>Reduce your monthly debt repayments</li>
                    <li>Remove the need for loans</li>
                </ul>
            </div>
        </div>
        <div class="col-md-9  offset-md-3 py-md-4">
            <iframe src="https://debtclear.today/start" style="width: 100%; height: 100vh"/>
        </div>
      </div>
    </div>
  </div>
</div>
<%#= render 'layouts/footer'%>